name: "Release - build"

on:
  workflow_dispatch:
  push:
    branches:
      - master
    paths:
      - '!tests/**'
      - 'Dockerfile'
      - 'docker.args'
      - 'scripts/*'

jobs:
  release:
    runs-on: [ubuntu-latest]
    steps:
      - uses: actions/checkout@v6.0.1

      - name: Set up Docker Buildx.
        uses: docker/setup-buildx-action@v3.12.0

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set tag for image.
        run: |
          echo IMAGE_TAG=$([ ${{ github.ref_type }} == 'tag' ] && echo ${{ github.ref_name }} || echo 'latest') >> $GITHUB_ENV

      - name: Acquire builder args.
        id: get_builder_args
        run: |
          grep -v -e "^#" -e "^$" docker.args | \
          while read -r line; do
            echo "$(echo $line | cut -d "=" -f 1)=$line" >> "$GITHUB_OUTPUT";
          done

      - name: Build and publish.
        uses: docker/build-push-action@v6.18.0
        with:
          context: .
          build-args: |-
            ${{ join(steps.get_builder_args.outputs.*, '
            ') }}
          platforms: linux/amd64
          push: true
          tags: |
            ghcr.io/${{ github.repository }}:${{ env.IMAGE_TAG }}
            ghcr.io/${{ github.repository }}:latest
          provenance: false
          secrets: |
            "github_token=${{ secrets.GITHUB_TOKEN }}"
