name: "Build docker image"

on: [pull_request]

env:
  IMAGE_TAG: pr-test

jobs:
  build:
    runs-on: [ubuntu-latest]
    steps:
      - uses: actions/checkout@v4.2.0
        with:
          fetch-depth: 0

      - name: Get changed docker related files.
        id: get_changed_files
        uses: tj-actions/changed-files@v45.0.2
        with:
          files: |
            Dockerfile
            docker.args
            scripts/*
            tests/*.yaml

      - name: Set up Docker Buildx.
        if: steps.get_changed_files.outputs.any_changed == 'true'
        uses: docker/setup-buildx-action@v3.6.1

      - name: Acquire builder args.
        if: steps.get_changed_files.outputs.any_changed == 'true'
        id: get_builder_args
        run: |
          grep -v -e "^#" -e "^$" docker.args | \
          while read -r line; do
            echo "$(echo $line | cut -d "=" -f 1)=$line" >> "$GITHUB_OUTPUT";
          done

      - name: Build if docker related files have changed.
        if: steps.get_changed_files.outputs.any_changed == 'true'
        uses: docker/build-push-action@v6.8.0
        with:
          context: .
          build-args: |-
            ${{ join(steps.get_builder_args.outputs.*, '
            ') }}
          platforms: linux/amd64
          push: false
          load: true
          tags: |
            ghcr.io/${{ github.repository }}:${{ env.IMAGE_TAG }}
          provenance: false
          secrets: |
            "github_token=${{ secrets.GITHUB_TOKEN }}"

      - name: Run structure tests.
        if: steps.get_changed_files.outputs.any_changed == 'true'
        uses: plexsystems/container-structure-test-action@v0.3.0
        with:
          image: ghcr.io/${{ github.repository }}:${{ env.IMAGE_TAG }}
          config: tests/container-structure-test.yaml

      - name: Dive - check image for waste files.
        if: steps.get_changed_files.outputs.any_changed == 'true'
        uses: MaxymVlasov/dive-action@v1.0.1
        with:
          image: ghcr.io/${{ github.repository }}:${{ env.IMAGE_TAG }}
          config-file: ${{ github.workspace }}/tests/dive.yaml
          github-token: ${{ secrets.GITHUB_TOKEN }}
